<!DOCTYPE html >
<html>
  <head />
  <body>
    <p style="font-size:12pt;font-family:'Segoe UI'">Welcome $DevFirstName $DevLastName!</p>
    <p style="font-size:12pt;font-family:'Segoe UI'">
        We are happy to approve your subscription to the <strong>$ProdName</strong> and welcome you to the $OrganizationName developer community. We look forward to the amazing applications you will build using our API.
    </p>
    <p style="font-size:12pt;font-family:'Segoe UI'">As a reminder, the <strong>$ProdName</strong> is currently available only to select partners and internal developers for the purpose of evaluation and feedback. API endpoints and other developer components are subject to change, both during the Tech Preview and afterward as we prepare to release the API.</p>
    <p style="font-size:12pt;font-family:'Segoe UI'">Here are a couple resources and pointers to help you get started:</p>
    <p style="font-size:12pt;font-family:'Segoe UI'">
        <ul>
            <li>
                <p style="font-size:12pt;font-family:'Segoe UI'"><strong><a href="https://$DevPortalUrl/developer">Developer Account</a></strong></p>
                <p style="font-size:12pt;font-family:'Segoe UI'">Access your subscription keys within your developer profile, and <a href="https://$DevPortalUrl/developer/analytics">analyze</a> your API usage.</p>
            </li>    
            <li>
                <p style="font-size:12pt;font-family:'Segoe UI'"><strong><a href="https://$DevPortalUrl/docs/services">API Reference</a></strong></p>  
                <p style="font-size:12pt;font-family:'Segoe UI'">Explore the available endpoint operations and the corresponding <a href="https://$DevPortalUrl/contract-reference">object model</a> when making requests and processing responses. Use the interactive console to make API calls directly within the developer portal without writing any code. When you're ready to begin coding, copy and paste code samples available for each API operation in your preferred programming language.</p>
            </li>
            <li>
                <p style="font-size:12pt;font-family:'Segoe UI'"><strong><a href="https://apidocs.nxt.blackbaud-dev.com/docs/getting-started/">Documentation</a></strong></p>
                <p style="font-size:12pt;font-family:'Segoe UI'">Follow our guide to <a href="https://apidocs.nxt.blackbaud-dev.com/docs/getting-started/">getting started</a> with the API, familiarize yourself with some of the <a href="https://apidocs.nxt.blackbaud-dev.com/docs/basics/">basics</a>, and learn more about enabling your application to obtain user <a href="https://apidocs.nxt.blackbaud-dev.com/docs/authorization/">authorization</a> through our OAuth 2.0 service.</p>
            </li>  
            <li>
                <p style="font-size:12pt;font-family:'Segoe UI'"><strong><a href="http://renxt.blackbaud.com">Developer Sandbox</a></strong></p>
                <p style="font-size:12pt;font-family:'Segoe UI'">As a participant in the <strong>$ProdName</strong>, you've been added as a user in our shared <strong>Raiser's Edge NXT Developer Sandbox</strong> environment. Check your inbox for an email invitation to join this environment, and use it as you write and test API calls.</p>
            </li>  
        </ul>
    </p>
    <p style="font-size:12pt;font-family:'Segoe UI'">Finally, as you come up with questions, issues or feedback in the coming weeks, please <a href="mailto:dan.bowman@blackbaud.com?Subject=Blackbaud%20NXT%20API">contact us</a>, and we'll respond quickly.</p>
    <p style="font-size:12pt;font-family:'Segoe UI'">Happy hacking,</p>
    <p style="font-size:12pt;font-family:'Segoe UI'">The $OrganizationName API Team</p>
    <a style="font-size:12pt;font-family:'Segoe UI'" href="https://$DevPortalUrl">$DevPortalUrl</a>
  </body>
</html>