<!DOCTYPE html >
<html>
  <head />
  <body>
    <p style="font-size:12pt;font-family:'Segoe UI'">Dear $DevFirstName $DevLastName,</p>
    <p style="font-size:12pt;font-family:'Segoe UI'">
          Thank you for your interest in the <strong>$ProdName</strong>. We will review your API subscription request and respond to you at <strong>$DevEmail</strong>.
        </p>
    <p style="font-size:12pt;font-family:'Segoe UI'">
        Note that the <strong>$ProdName</strong> is currently available only to select partners and internal developers for the purpose of evaluation and feedback. 
        </p>
    <p style="font-size:12pt;font-family:'Segoe UI'">Regards,</p>
    <p style="font-size:12pt;font-family:'Segoe UI'">The $OrganizationName API Team</p>
    <a style="font-size:12pt;font-family:'Segoe UI'" href="https://$DevPortalUrl">$DevPortalUrl</a>
  </body>
</html>